@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

.font-Poppins {
  font-family: var(--font-Poppins);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eff6ff;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

@media (min-width: 800px) {
  .\38 00px\:flex {
    display: flex;
  }
  .\38 00px\:hidden {
    display: none;
  }
  .\38 00px\:w-92 {
    width: 92%;
  }
}

@media (max-width: 799px) {
  .\38 00px\:flex {
    display: none;
  }
  .\38 00px\:hidden {
    display: block;
  }
}
